@layer reset, base, utility, styles;

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_wght.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/LexendDeca-VariableFont_wght.ttf);
  font-display: swap;
}

:root {
  --mobile-width: calc(375em / 16);
  --desktop-width: calc(1020em / 16);

  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading--stats--color: hsl(0, 0%, 100%);
  --main-paragraph--color: hsla(0, 0%, 100%, 0.75);
  --stat-headings--color: hsla(0, 0%, 100%, 0.6);

  --primary-font: "Inter";
  --secondary-font: "Lexend Deca";
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;

    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer base {
  body {
    min-height: 100vh;
    font-size: calc(15em / 16);
    font-family: var(--primary-font);

    padding: 2ch;

    position: relative;

    display: grid;
    place-content: center;

    background-color: var(--main-bg);
  }
}

@layer utility {
  .highlight {
    color: var(--accent);
  }
}

@layer styles {
  .card {
    --border-radius: 0.6em;

    width: 100%;
    max-width: var(--mobile-width);
    display: grid;

    background-color: var(--card-bg);
    border-radius: var(--border-radius);
  }

  @media (min-width: calc(1020em / 16)) {
    .card {
      grid-template-columns: 1fr 1fr;
      max-width: var(--desktop-width);
    }
  }

  .card__image {
    position: relative;
    isolation: isolate;
    opacity: 0.6;
    filter: brightness(145%);

    border-radius: 100px;
  }

  .card__image::after {
    content: "";
    inset: 0;
    position: absolute;
    background-color: var(--accent);
    mix-blend-mode: multiply;
    z-index: 9;
  }

  .card__image img,
  .card__image::after {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  @media (min-width: calc(1020em / 16)) {
    .card__image {
      order: 1;
    }

    .card__image img,
    .card__image::after {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }

  .card__body {
    text-align: center;
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .card__body > * {
    flex: auto;
  }

  @media (min-width: calc(1020em / 16)) {
    .card__body {
      text-align: start;
      justify-content: center;
    }

    .card__body > * {
      flex: none;
    }
  }

  .card__title {
    font-size: 1.8em;
    font-weight: 600;
  }

  .card__title,
  .card__stats__stat {
    color: var(--main-heading--stats--color);
  }

  .card__description {
    color: var(--main-paragraph--color);
  }

  .card__stats {
    list-style: none;
    margin-top: 1.5em;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  @media (min-width: calc(1020em / 16)) {
    .card__stats {
      flex-direction: row;
    }
  }

  .card__stats__item {
    flex: 1 0 auto;
  }

  .card__stats__stat {
    font-size: 1.5em;
    font-weight: 700;
  }

  .card__stats__heading {
    color: var(--stat-headings--color);
    font-family: var(--secondary-font);
    font-weight: 300;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;

    color: var(--main-heading--stats--color);
  }
  .attribution a {
    color: var(--accent);
  }
}
